/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/* My CSS */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7CA.ttf) format('truetype');
}
/* Variables */
/* Mixins */
/* Global */
body {
  display: flex;
  justify-content: center;
}
.container {
  width: 80%;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 8rem;
  margin-top: 6%;
  text-decoration: underline #8a0101;
  font-family: 'Roboto Condensed', sans-serif;
}
h2 {
  font-size: 5rem;
  margin-top: 6%;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  border-left: 4px #8a0101 solid;
  padding-left: 5%;
}
h3 {
  font-size: 3.5rem;
  margin-top: 6%;
  font-weight: 600;
  font-family: 'Roboto Condensed', sans-serif;
}
p {
  font-size: 3rem;
  margin-top: 2%;
  line-height: 1.1;
}
/* nav */
@media (min-width: 1000px) {
  nav {
    text-align: inherit;
  }
}
nav a {
  font-size: 4rem;
  color: gray;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
@media (min-width: 1000px) {
  nav a {
    font-size: 1.5rem;
    border-left: 4px #8a0101 solid;
    padding-left: 5%;
  }
}
nav ul {
  text-align: center;
}
@media (min-width: 1000px) {
  nav ul {
    display: flex;
    justify-content: flex-end;
  }
}
nav li {
  border-bottom: 1px gray solid;
  padding: 2%;
}
@media (min-width: 1000px) {
  nav li {
    width: 15%;
    border-bottom: none;
  }
}
/* primary content */
#about .profile-image {
  display: flex;
  justify-content: center;
  margin-top: 6%;
}
#about .profile-image img {
  border-radius: 50%;
  width: 40%;
}
/* skills */
#skills ul {
  display: flex;
  flex-wrap: wrap;
  list-style: url('/images/icons8-rocket-14.png') inside;
  margin-top: 3%;
}
#skills li {
  width: 46%;
  font-size: 3rem;
}
/* resume */
#resume p.date {
  font-size: 1.5rem;
}
@media (min-width: 1000px) {
  #resume article {
    width: 46%;
  }
}
@media (min-width: 1000px) {
  #resume .resume-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (min-width: 1000px) {
  #resume .resume-wrap .description {
    font-size: 2em;
  }
}
@media (min-width: 1000px) {
  #resume .resume-wrap article {
    margin-top: 6%;
  }
}
/* contact */
#contact p {
  font-size: 2rem;
}
#contact .contact-info {
  display: flex;
  margin-top: 6%;
  justify-content: space-between;
}
#contact .contact-info a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: black;
}
